@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body
{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
    
}

*
{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
}

p
{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
}

ul
{
    list-style-type: none;
}

.row
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar
{
    top: 0;
    position: fixed;
    z-index: 99;
    background-color: white;
    height: 100px;
    width: 100%;
    justify-content: space-around;
}

#nav-mid
{
    gap: 30px;
    justify-content: center;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border-top: #4351E9 solid;
    min-width: 300px;
}

.dropdown-2
{
    border-width: 0.1px;
    border-top: rgb(236, 236, 236) solid;
    border-bottom: rgb(236, 236, 236) solid;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#login
{
    background-color: transparent;
    border: none;
    height: fit-content;
    margin-right: 10px;
}

.blue-btn{
    background-color: #4351E9;
    border: none;
    border-radius: 10px;
    height: fit-content;
    padding: 10px 25px;
    margin: 0;
    color: white;
}

/* MAIN */

#buy-sell
{    
    margin-top: 100px;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: #F5F8FF;
}

#buy-sell-text
{
    width: 50%;
    height: fit-content;
}

#top-text
{
    padding: 7% 2% 0 15%;
}

#top-text h1
{
    color: rgb(51, 51, 51);
    font-size: 4.2rem;
    line-height: 5rem;
}

#top-text p
{
    margin-top: 20px;
    color: rgb(94, 94, 94);
    font-size: 1.3rem;
    line-height: 2rem;
}

#bot-text
{
    padding: 7% 2% 0 15%;
    display: flex;
    flex-direction: row;
    gap: 8%;
}

#bot-text h4
{
    color: rgb(73, 73, 73);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

#bot-text p
{
    color: rgb(134, 134, 134);
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
}

#hero-img
{
    width: 50%;
    overflow: hidden;
    height: calc(50vw * 1.15 * (659 / 940) * 0.86);
}

#hero-img img
{
    width: 115%;
    translate: 0% -14%;
}

#search
{
    position: relative;
    z-index: 10;
    margin-top: -120px; 
    margin-left: 7%;
    margin-right: auto;  
    width: fit-content;
}

#top-bar
{
    border-radius: 15px 15px 0 0px;
    background-color: #F3F4F8;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

#top-bar ul li:hover
{
    background-color: #DFEAFE;
}

#top-bar ul li p
{
    cursor: pointer;
    padding: 10px 45px;
    color: rgb(51, 51, 51);
    font-size: 1.6rem;
    font-weight: 500;
}

#bot-bar
{
    border-radius: 0 15px 15px 15px;
    background-color: white;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 15px rgba(116, 116, 116, 0.19);
}

#bot-bar ul{
    width: 100%;
    padding: 20px 50px;
    gap: 25px;
}

#search-bar{
    width: 22vw;
    font-size: 1.2rem;
    background-image: url("../img/map-pin.svg");
    background-repeat: no-repeat;
    background-position: 95% 45%;
    background-size: 20px;
    padding: 12px 40px 12px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(116, 116, 116, 0.19);
}

#bot-bar ul li p
{
    font-size: 1.2rem;
    color: rgb(65, 65, 65);

}

#bot-bar ul li div p
{
    color: transparent;
}

#bot-bar ul li
{
    width: 100%;
}

#bot-bar ul li button p
{
    color: white;
}

#bot-bar ul li button
{
    padding: 1px 30px;
}

#bot-bar ul li button:hover
{
    cursor: pointer;
}

#search-bar::placeholder
{
    color: rgb(197, 197, 197);
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.types
{
    width: 23vw;
    position: relative;
    z-index: 0;
    font-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: 95% 45%;
    background-size: 20px;
    padding: 12px 40px 12px 15px;
    border: none;
    appearance: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(116, 116, 116, 0.19);
    color: #464646;
}

.type-wrapper {
    position: relative;
    width: fit-content;
    display: inline-block;
}

.icon
{
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%);
    width: 20px;         
    height: 20px;
    z-index: 1;
    pointer-events: none;
    background-repeat: no-repeat;
    border: none;
    appearance: none;
    filter: invert(31%) sepia(73%) saturate(5723%) hue-rotate(233deg) brightness(96%) contrast(89%);
    color: #464646;
}

#imghouse
{
    background-image: url("../img/image (1).svg");
}

#imgmoney
{
    background-image: url("../img/image (2).svg");
}

#popular
{
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;

}

.blue-line
{
    width: 35px;
    border-radius: 5px;
    height: 3px;
    background-color: #4351E9;
}

.text p
{
    color: #4351E9;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 10px;
}

#explore
{
    margin-top: 25px;
}

#explore p
{
    font-size: 1rem;
}

#top
{
    display: flex;
    justify-content: space-between;
}

#popular h2{
    font-size: 2.5rem;
    color: #414141;
}

#house-cards
{
    margin: 40px auto 100px auto;
    gap: 50px;
}

.card-li
{
    position: relative;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(116, 116, 116, 0.19);   
    height: fit-content;
    width: 510px;
    overflow: hidden;
}

.card-li img
{
    height: 50%;
    width: inherit;
    overflow: hidden;
}

#rent
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #4351E9;
    height: 20px;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #EAEDFD;
    text-align: center;
}

#grey
{
    height: fit-content;
    color: rgb(110, 110, 110);
    font-size: 1.6rem;
    font-weight: 500;
}

#top-card
{
    gap: 25px;
}

#bot-card
{
    padding: 15px;  
    border-bottom: 8px solid transparent;
    box-shadow: inset 0 -1px 0 0 #e9e9e9,  
                 inset 0 -3px 0 0 #ffffff, 
                 inset 0 -4px 0 0 #e9e9e9;
}


#expand
{
    font-size: 1.7rem;
}

#adress
{
    gap: 5px;
}

#adress p
{
    font-size: 1.1rem;
    color: rgb(122, 122, 122);
    font-weight: 500;
}

#fullbot
{
    gap: 8px;
}

#fullbot p
{
    font-size: 1.3rem;
}

#room
{
    gap: 25px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 14%;
}

#sqft
{
    gap: 10px;
    margin-left: auto;
    margin-right: 7%;
}

#sqft p
{
    font-size: 1.3rem;
}

#margin-bot
{
    margin-bottom: 8px;
}

.company
{
    position: absolute;
    top: 25px;
    left: 25px;
    color: white;
    background-color: #4351E9;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 0 15px;
}

#imgvid
{
    display: flex;
    margin-left: 7%;
    width: 50%;
}

#imgvid
{
    position: relative;
}

#about-short
{
    border-radius: 15px;
    width: 300px;
}

#about-big
{
    border-radius: 15px;
    position: absolute;
    margin-top: 35px;
    margin-left: 320px;
    width: 460px;
}

#play
{
    position: absolute;
    top: 50%;
    left: 272px;
    width: 30px;
    padding: 22px;
    background-color: #4351E9;
    z-index: 40;
    height: fit-content;
    border-radius: 50%;
}

#about-us
{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 100px 7% 50px 15%;
}


#main-text h2
{
    font-size: 3rem;   
    color: #3b3b3b;
    line-height: 3.5rem;
    margin-top: 10px;
}

#main-text p
{
    font-size: 1.2rem;   
    color: #5f5f5f;
    line-height: 1.7rem;
    margin: 25px 0;
}

.points
{
    gap: 10px;
    font-size: 0.1rem;
    width: fit-content;
    color: #5f5f5f;
}

.points p
{
    font-size: 1.3rem;
}

#about-us div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.grey
{
    padding-bottom: 50px;
    background-color: #FCFCFC;
}

#about-us button
{
    width: 180px;
    height: fit-content;
    margin-top: 60px;
}

#about-us button p
{
    height: fit-content;
    font-size: 1.5rem;
}

#cities
{
    width: 86%;
    margin: 50px 7% 100px 7%;
}

#cities h2
{
    font-size: 2.2rem;
}

.city
{
    position: relative;
    width: 525px;
    height: 525px;
    overflow: hidden;
    border-radius: 10px;
}

.city img
{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.city p
{
    position: absolute;
    color: white;
    z-index: 20;
    bottom: 15px;
    left: 25px;
}

#gradient
{
    display: flex;
    background-image: linear-gradient(to top, rgb(20, 20, 20), rgba(39, 39, 39, 0.301));
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    z-index: 10;
}

#city-container
{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}


#contact-us
{
    display: flex;
    flex-direction: column;
    width:70%;
    margin: 100px 7% 50px 10%;
}

#contact-us div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

#contact-us button
{
    width: 180px;
    height: fit-content;
    margin-top: 60px;
}

#contact-us button p
{
    height: fit-content;
    font-size: 1.5rem;
}

#contact-img
{
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0 50px 7%;
}

#contact-img img
{
    width: 600px;
    height: fit-content;
    border-radius: 15px;
}

.h2
{
    color: #3b3b3b;
    line-height: 3.5rem;
    margin-top: 10px;
    font-size: 2.2rem;
}

#testmonial
{
    margin: 100px 7%;
}

#h2
{
    width: 25%;
    margin-bottom: 50px;
}

#short-arrow
{
    opacity: 0.2;
}

#arrows
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column
{
    display: flex;
    flex-direction: column;
}

.review
{
    border-radius: 15px;
    width: 450px;
    padding: 25px 35px;
    box-shadow: 0 0 2px rgba(82, 82, 82, 0.19);
    gap: 30px;
}

.review div img{
    width: 80px;
    border-radius: 10px;
}

.avatar
{
    gap: 25px;
}

.p1
{
    height: 35px;
    color: #4b4b4b;
    font-weight: 500;
}

.p2
{
    height: fit-content;
    font-size: 1.3rem;
    color: #707070;
}

.pp
{
    font-size: 1.4rem;
    color: #616161;
}

#gap
{
    gap: 30px;
}

#faq
{
    width: 86%;
    padding: 50px 7%;
    margin-bottom: 100px;
}

#faq-h2
{
    margin-bottom: 50px;
    width: 450px;
}

#faq-ul
{
    height: fit-content;
    align-items: flex-start;
    gap: 25px;
}

#faq-ul-container
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.question-container
{
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 2px rgba(82, 82, 82, 0.19);
    width: 700px;
    background-color: white;
    border-radius: 10px;
}

.question-text
{
    margin-left: 10px;
    font-size: 1.4rem;
    color: rgb(68, 68, 68);
}

.icon-container
{
    position: relative;
    width: 50px;
    height: 50px;
}

.icon-container p
{
    position: absolute;
    font-weight: 200;
}

.plus
{
    font-size: 3rem;
    color: #575757;
}

.minus
{
    font-size: 4rem;
    color: white;
    display: none;
}

.answer-container
{
    padding: 10px;
    box-shadow: 0 0 2px rgba(82, 82, 82, 0.19);
    width: 680px;
    border-radius: 10px;
    background-color: white;
    display: none;
}

.answer-text
{
    padding: 15px;
    color: #575757;
    font-size: 1.2rem;
    line-height: 2rem;
}

.question-container:focus + .answer-container
{
    display: block;
    border-radius: 0 0 10px 10px;
}

.question-container:focus
{
    background-color: #4351E9;
    border-radius: 10px 10px 0 0;
}

.question-container:focus > .question-text
{
    color: white;
}

.question-container:focus  .plus
{
    display: none;
}

.question-container:focus .minus
{
    display: block;
}

.news-li
{
    height: fit-content;
    width: 515px;
}

.news-li img
{
    border-radius: 15px;  
    height: 50%;
    width: inherit;
}

#house-news
{
    margin: 40px auto 100px auto;
    gap: 50px;
}

#news-h2
{
    margin-bottom: 50px;
}

.news-date
{
    font-size: 1.2rem;
    color: rgb(90, 90, 90);
}

.news-head
{
    font-size: 1.5rem;
    color: rgb(58, 58, 58);
    font-weight: 600;
    line-height: 2rem;
    margin-top: 5px;
}

.news-read
{
    margin: 20px 0;
    background-color: #DFEAFE;
    width: fit-content;
    padding: 2px 20px;
    font-size: 1.2rem;
    color: rgb(58, 58, 58);
    border-radius: 10px;
}